<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
      <!-- Database Connection -->

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://mysql-core-read-replica.ctpytpqotfkq.eu-west-1.rds.amazonaws.com:3306/vaavud?characterEncoding=utf8</property>
        <property name="connection.username">vaavud</property>
        <property name="connection.password">G$j86)2wCyvY63V</property>
        <property name="hbm2ddl.auto">validate</property>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="show_sql">false</property>
        
<!--                 DeBUG -->
<!-- 		<property name="show_sql">true</property> -->
<!-- 		<property name="format_sql">true</property> -->
<!-- 		<property name="use_sql_comments">true</property> -->
        
<!--         <property name="connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!--         <property name="connection.url">jdbc:mysql://localhost/vaavud?characterEncoding=utf8</property> -->
<!--         <property name="connection.username">root</property> -->
<!--         <property name="connection.password">fire4friend</property> -->
<!--         <property name="hbm2ddl.auto">validate</property> -->
<!--         <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property> -->
<!--         <property name="show_sql">false</property> -->
      
        <!-- Connection Pooling -->
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">10</property>
		<property name="hibernate.c3p0.idle_test_period">300</property> <!-- seconds -->
		<property name="hibernate.c3p0.max_size">225</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.min_size">10</property>
		<property name="hibernate.c3p0.timeout">600</property> <!-- seconds --> 

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Entity Mapping -->
        
        <mapping class="com.vaavud.server.model.entity.User" />
        <mapping class="com.vaavud.server.model.entity.Device" />
        <mapping class="com.vaavud.server.model.entity.MagneticPoint" />
        <mapping class="com.vaavud.server.model.entity.AccPoint" />
        <mapping class="com.vaavud.server.model.entity.MagneticSession" />
        <mapping class="com.vaavud.server.model.entity.MeasurementPoint" />
        <mapping class="com.vaavud.server.model.entity.MeasurementSession" />

    </session-factory>
</hibernate-configuration>
    