<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
</head>

<body ng-app="myapp">

  <div ng-controller="MyController" >
	  <label>email:</label>
	   <input type="text" ng-model="myData.email" placeholder="Your email">
      <br/>
      
      <label>password:</label>
	   <input type="text" ng-model="password" placeholder="password">
      <br/>
      
    <button ng-click="myData.getKey(item, $event)">getKey</button>
    <br />
    <button ng-click="myData.doClick(item, $event)">resetPassword</button>
    <br/>
    Data from server: {{myData.fromServer}}
    <br/>
    Key: {{myData.key}}
  </div>

  <script>
    angular.module("myapp", [])
        .controller("MyController", function($scope, $http, $location) {
/*         	$scope.password = "Googleb00g"; */
        	console.log($location.search())

/* 			$scope.$location = {}; */
            
            $scope.myData = {};
            $scope.myData.email = $location.search().email;
            $scope.myData.key = $location.search().key;


            
            $scope.myData.getKey = function(item, event) {
			
				var data = {
					"action":"sendMail",
				};	
				data.email = $scope.myData.email;
				
				var responsePromise = $http.post("http://localhost:8080/api/password", data);

                responsePromise.success(function(data, status, headers, config) {
                    $scope.myData.fromServer = data;
                });
                responsePromise.error(function(data, status, headers, config) {
                    $scope.myData.fromServer = "AJAX failed!:" + data;
                });
            };
            
            $scope.myData.doClick = function(item, event) {
				
				var data = {
					"action":"SetPassword"
				};
				
				data.email = $scope.myData.email;
				data.key = $scope.myData.key;
				data.clientPasswordHash = CryptoJS.HmacSHA256($scope.password, data.email).toString(CryptoJS.enc.Hex).toUpperCase();
				
                var responsePromise = $http.post("http://localhost:8080/api/password", data);

                responsePromise.success(function(data, status, headers, config) {
                    $scope.myData.fromServer = data;//data.title;
                });
                responsePromise.error(function(data, status, headers, config) {
                    $scope.myData.fromServer = "AJAX failed!:" + data;
                });
            }
        })
        
        .config(function($locationProvider) {
			$locationProvider.html5Mode(true).hashPrefix('!');
  	});
  </script>

</body>

</html>